---
---


@import "main";

.inner {
    position: relative;
    max-width: 640px;
    margin: 0 auto;
}

#header_wrap {
    background: #d4d4d4;
    padding: 5px 0;
}


#project_title {
    margin: 0;
    color: #696969;
    font-size: 30px;
    font-weight: 500;
    padding-top: 10px;
}

#project_tagline {
    margin: 0;
    color: #696969;
    font-size: 17px;
    font-weight: 500;
}

#project_icon {
    border-radius: 50%;
    float: left;
    margin-left: -100px;
    max-width: 70px;
    margin-top: 8px;
}

#main_content_wrap {
    background: #ffffff;
}


#main_content  h1 {
    color: #f89406;
}

.pagination {
    margin-top: 20px;
}
